body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 5px 15px 1px;
}

.main-header {
  position: relative;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  color: black;
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  list-style: none;
  padding: 0px 74px;
}

.nav-button a {
  color: black;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-hero-img {
  background-image: url("../img/svg-sedona/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: 50% 101%, center center;
  background-repeat: no-repeat no-repeat;
  text-align: center;
  padding: 75px 0 80px;
}

.main-hero-img img {
  height: 353px;
  padding: 0 0 130px;
}

.five-reasons {
  display: flex;
  text-align: center;
  font-weight: 400;
  justify-content: space-evenly;
  padding: 10px 0 30px;
  font-size: 14px;
  color: #333333;
  }

.main-heading {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.real-city {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 400px;
  height: 256px;
}

.devil-bridge {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 400px;
  height: 256px;
}

.sedona-top-picks {
  color: #000000;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style:none;
  height: 256px;
}


.more-top-picks {
  color: #000000;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.more-top-picks-box {
  display: flex;
  align-content: center;
  height: 256px;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-info {

}

.booking-from-wrapper{
  position: relative;
}

.booking-form-button {
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #503e33;
  border: none;
  padding: 31px 0px;
  width: 568px;
}

.booking-form {
  position: absolute;
  top: 86px;
  left: 0px;
  box-sizing: border-box;
  width: 568px;
  padding: 40px;
  background-color: #fff;
}

.booking-people {
  display: flex;
  flex-direction: row;
}

.button {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 568px;
  height: 86px;
  background-color: #766357
}

.button:hover {
  background-color: #604e43;
}
.button:focus {
  background-color: #503e33;
}

.button-search {
  display: flex;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border: none;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}
.button-search:hover {
  background-color: #669ec0;
}
.button-search:focus {
  background-color: #669ec0;
}

.booking-input input {
  font: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
  width: 346px;
  height: 38px;
}

.booking-guest input {
  font: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}

.inner-page {
  color: #000000;

  background-color: #f2f2f2;
  background-position: 0 0;
}

.filters-form {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  border: none;
}

.top-filter {
  border: none;
}

.filter-left {
  display: flex;
}

.filter-box {
  border: none;
}

.filters-items {
  padding: 0px;
  border: none;
  display: inline;
}

.filters-items:last-child {
  margin-left: auto;
}

.filter-options-list {
  list-style: none;
  padding: 0;
  border: none;
}

.filter.option {
  padding-left: 30px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.search-result{
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sorting {

}

.results-button {
  border:none;
  background: transparent;
}

.results-button:hover {
  color: #604e43;
}
.results-button:focus {
  color: #503e33;
}

.results-section {
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.catalog-item {
  border: 1px solid #f2f2f2;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.rating-hotel {
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

.button-details {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-book {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.hotel-rating {
  margin-left: auto;
}

.footer {
  color: #000000;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fefefe;
  background-position: top center;
  background-repeat: repeat;
  padding: 0 74px;
}

.footer-contacts-phone {
  display: block;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.footer-social {
  text-align: center;
  display: flex;
}

.footer-social ul {
  list-style: none;
}

.social-media {
  display: flex;
  flex-direction: column;
  height: 48px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-author {
  font-weight: 400;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-author-image {
  margin-left: 12px;
  vertical-align: middle;
}
