body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("..img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;

  background-color: #000000;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
