body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation, {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,{
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-hero {
  background-image: url("../img/background-photo.jpg"), url("../img/intro-welcome.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-heading {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.real-city {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 256px;
}

.devil-bridge {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 256px;
}

.sedona-top-picks {
  color: #ffffff;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 568px;
  height: 86px;
  background-color: #766357
}
.button:hover,{
  background-color: #604e43;
}
.button:focus,{
  background-color: #503e33;
}

.button-search {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 458px;
  height: 58px;
  background-color: #81b3d2
}
.button-search:hover,{
  background-color: #669ec0;
}
.button-search:focus,{
  background-color: #669ec0;
}

.booking-input input {
  font: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
  width: 346px;
  height: 38px;
}

.booking-guest input {
  font: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}

.inner-page {
  color: #000000;

  background-color: #fefefe;
  background-position: 0 0;
}

.filters {
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.button-details {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 110px;
  height: 27px;
  background-color: #81b3d2
}

.button-book {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 110px;
  height: 27px;
  background-color: #766357
}

.footer {
  color: #000000;

  background-color: #fefefe;
  background-position: top center;
  background-repeat: repeat;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  background-color: #81b3d2
}
