body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("..img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}
.site-navigation, {
  list-style: none;
}
.site-navigation a:hover,
.site-navigation a:focus,{
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}
