body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f1f1f1;
  background-image: url("img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
